.fa{
  cursor:pointer;
}
.first-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  background-color: #fbfbfb;
}
.flex-header{
  font-weight: bold;
  background-color: #7c7979;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.jumbotron{
  background-color: white;
  max-width: 1300px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background: #e2dfdf;
}

.flex-div {
  text-align: center;
  border: 1px solid white;
  padding: 0.25em;
  max-width: 100%;
}

.flex-1{flex: 1 1 0;flex-basis: 5%;width: 0;}
.flex-2{flex: 2 1 0;flex-basis: 10%;width: 0;}

@media (max-width: 768px) {
  .container-fluid{padding:0px;}
}
@media (max-width: 320px) {
  .flex-1{font-size: 12px}
  .flex-2{font-size: 12px}
}
